form(method='POST' action='')
	input(type='hidden' name='yardsale' value=yardsale._id)
	input(type='hidden' name='userId' value=current_user._id)
	button.button.is-link.is-rounded(type='submit')
		span.icon
			i.fas.fa-star
