// Hero banner/Navbar
section.section.has-background-warning#navbarSection
	.hero
		.hero-head.has-background-warning
			.container
				// NAVIGATION BAR
				nav.navbar.has-text-weight-bold(role='navigation' aria-label='main navigation')
					// Mobile Navigation Bar
					.navbar-brand.has-background-warning
						a.navbar-item.is-hidden-desktop#navbar-title(href='/') Yardy
						a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarMenuHeroA')
							span.has-background-link(aria-hidden='true')
							span.has-background-link(aria-hidden='true')
							span.has-background-link(aria-hidden='true')
					// Desktop Navigation Bar
					.navbar-menu.has-background-warning#navbarMenuHeroA
						// The content below will be visible to users who have logged in.
						if isAuthenticated
							.navbar-end
								a.navbar-item.has-text-link(href='/') Home
								a.navbar-item.has-text-link(href='/yardsales/create') Post Yard Sale
								a.navbar-item.has-text-link(href='/users/' + current_user._id) Account
								a.navbar-item.has-text-link(href='/favorites/' + current_user._id) Favorites
								a.navbar-item.has-text-link(href='/messages/' + current_user._id) Messages
								.navbar-item
									a.button.is-dark(href='https://github.com/naricci/Yardy')
										span.icon.is-small
											i.fab.fa-github
										span GitHub
								.navbar-item
									.field.has-addons
										p.control
											a.button.has-text-primary(href='/users/' + current_user._id) #{current_user.username}
										p.control
											a.button.has-text-link(href='/users/logout') Logout
						// The content below will be visible to users who have NOT logged in.
						if isAuthenticated === false
							.navbar-end
								.navbar-item
									a.button.is-dark(href='https://github.com/naricci/Yardy' aria-label='Home')
										span.icon.is-small
											i.fab.fa-github
										span GitHub
								.navbar-item
									.field.has-addons
										p.control
											a.button.has-text-link(href='/users/register') Register
										p.control
											a.button.has-text-link(href='/users/login') Login
		// HERO/HEADER
		.hero-body.has-background-warning.is-hidden-touch
			.container
				h1.title.is-1.has-text-link.has-text-centered.animated.bounce Yardy
					//- a(href='/') Yardy
				h2.subtitle.has-text-link.has-text-centered
					i a place for yard sale enthusiasts
