//img#myLocation
#map
	script(src='/javascripts/index_map.js')
	script(src='/javascripts/get_location.js')
	script(src='https://maps.googleapis.com/maps/api/js?key='+process.env.MAPS_API_KEY+'&callback=initMap' async defer)
	br
