#map
	script(type='text/javascript' src=process.env.S3_STATIC_URL+'/public/js/index_map.js')
	//script(type='text/javascript' src=process.env.S3_STATIC_URL+'/js/reverse_geocoder.js')
	script(async defer src='https://maps.googleapis.com/maps/api/js?key='+process.env.MAPS_API_KEY+'&callback=initMap')
	script(type='text/javascript' src=process.env.S3_STATIC_URL+'/public/js/get_location.js')
	br
