#map
	//- script(src='/javascripts/map_search.js')
	//- script(src='/javascripts/map_index.js')
	script.
		let map, infoWindow;
		let url = 'https://api.mlab.com/api/1/databases/yardy/collections/yardsales?apiKey=9mCElimS5yqDidSAKQzweNrYtfa6hY7C';
		let myHeaders = new Headers();
		myHeaders.set('Content-Type', 'application/json');
		let myInit = { method: 'GET',
			headers: myHeaders,
			mode: 'cors',
			credentials: 'include',
			cache: 'default'
		};
		let myRequest = new Request(url, myInit);

		// Initialize Google Map
		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: new google.maps.LatLng(39.8283, -98.5795),
				// center: new google.maps.LatLng(location),
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				zoom: 4
			});

			fetch(myRequest)
			.then(response => {
				let contentType = response.headers.get('content-type');
				if(contentType && contentType.includes('application/json')) {
					return response.json();
					//- return response.text();
				}
				throw new TypeError('Oops, we haven\' got JSON!');
			})
			.then(json => {
				var locations = [];
				var address;
				//- console.log(json);
				for (let i = 0; i < json.length; i++) {
					address = json[i].address + ', ' + json[i].city + ', ' + json[i].state + ', ' + json[i].zipcode;
					locations.push(address);
				}
				//- console.log(locations);
				return locations;
			 })
			 .then(locations => {
				 console.log(locations);

				locations.forEach(location => {
					var marker = new google.maps.Marker({
						position: location,
						map: map,
						title: 'Yard Sale'
					});
				})
				.catch(err => {
					console.error(err);
				});
			});

			marker.addListener('click', () => {
				infoWindow.open(map, marker);
			});
			// TODO - Add loop to display all yardsales on the map as markers
			// var contentString = '<div id="content">'+
			// 	'<div id="siteNotice">'+
			// 	'</div>'+
			// 	'<h1 id="firstHeading" class="firstHeading">Address: </h1>'+
			// 	'<h1 id="firstHeading" class="firstHeading">Date: </h1>'+
			// 	'<div id="bodyContent">'+
			// 	'<p class="image is-64x64"><img src="https://bulma.io/images/placeholders/128x128.png" alt="Yard Sale"></p>'+
			// 	'<p>You are here!</p>'+
			// 	'</div>'+
			// 	'</div>';

			// var infoWindow = new google.maps.InfoWindow({
			// 	content: contentString
			// });
		}

	script(async defer src='https://maps.googleapis.com/maps/api/js?key='+process.env.MAPS_API_KEY+'&callback=initMap')
	br
