meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='description' content='Yardy is a tool for people find upcoming yard sales/garage sales in their local area, as well as post their own.')
meta(name='keywords' content='Yard Sale, Garage Sale, Sale, Used, Furniture, Estate Sale')
meta(name='author' content='Nick Ricci')
