meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='application-name' content='Yardy')
meta(name='description' content='Yardy is a tool for people find upcoming yard sales/garage sales in their local area, as well as post their own.')
meta(name='keywords' content='Yard Sale, Garage Sale, Sale, Used, Furniture, Estate Sale')
meta(name='author' content='Nick Ricci')
meta(name="theme-color" content="#3768AE")
//- Favicon Metadata
meta(name='application-name' content=' ')
meta(name='msapplication-TileColor' content='#FFFFFF')
meta(name='msapplication-TileImage' content='mstile-144x144.png')
meta(name='msapplication-square70x70logo' content='mstile-70x70.png')
meta(name='msapplication-square150x150logo' content='mstile-150x150.png')
meta(name='msapplication-wide310x150logo' content='mstile-310x150.png')
meta(name='msapplication-square310x310logo' content='mstile-310x310.png')
