.tabs.is-centered.is-boxed
	ul
		li
			a.panel(href='/users/' + current_user._id + '/update')
				span.icon.is-small
					i.fas.fa-pen(aria-hidden='true')
				span edit profile
		li
			a.panel(href='/users/' + current_user._id)
				span.icon.is-small
					i.fas.fa-bookmark(aria-hidden='true')
				span yardsales
		li
			a.panel(href='/users/' + current_user._id + '/favorites')
				span.icon.is-small
					i.fas.fa-heart(aria-hidden='true')
				span favorites
		li
			a.panel(href='/messages/' + current_user._id)
				span.icon.is-small
					i.fas.fa-inbox(aria-hidden='true')
				span messages
