script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script(async src='/javascripts/lazy_loader.js')
script(defer src='/javascripts/delete_toggle.js')
script(defer src='/javascripts/menu.js')
//- script(async type='module' src='/javascripts/main.mjs')
//- script(data-main='/javascripts/main' src='/javascripts/require.js')
//- script(src='/javascripts/bundle.js');
