// jQuery
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous' async)
script(src='/javascripts/lazy_loader.js' async)
script(src='/javascripts/delete_toggle.js' defer)
script(src='/javascripts/menu.js' defer)
//- script(src='/javascripts/google_maps_api_v3_36.js')
