script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
//- script(async src='/javascripts/main.js')
script(src='/javascripts/lazy_loader.js')
script(defer src='/javascripts/delete_toggle.js')
script(defer src='/javascripts/menu.js')
//- script(defer src='/javascripts/get_current_image.js')

