// jQuery
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

// Font Awesome Icons
script(defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js")

// Custom JavaScript
script(src='/js/delete_toggle.js')
script(src='/js/menu.js')
script(src='/js/select_image_name.js')
