extends layout

block content
	section.section
		.container
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-half
					h1.title.is-size-3-desktop.is-size-5-mobile.is-size-3-mobile.has-text-centered This page is currently in development.
					br
					picture
						source(srcset='/images/in_development.webp' type='image/webp')
						source(srcset='/images/in_development.png' type='image/png')
						img.image(src='/images/in_development.png' alt='In Development')
					br
					h2.title.is-size-3-desktop.is-size-5-mobile.has-text-centered Please check back later for updates.
			br
	script(type='text/javascript' src='/javascripts/browser_check.js')
