extends layout

block content
	section.section
		.container
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-three-quarters
					h1= title
					p
						a(href='/favorites/'+current_user._id) Back to Favorites
