// Hero banner/Navbar
section.hero
	.hero-head.has-background-primary
		.container
			nav.navbar.has-text-weight-bold(role='navigation' aria-label='main navigation')
				// Mobile Navigation Bar
				.navbar-brand
					a.navbar-item.is-hidden-desktop#navbar-title(href='/') Yardy
					a.navbar-burger.burger(role='button' aria-label='menu' aria-expanded='false' data-target='navbarMenuHeroA')
						span(aria-hidden='true')
						span(aria-hidden='true')
						span(aria-hidden='true')
				// Desktop Navigation Bar
				.navbar-menu.has-background-primary#navbarMenuHeroA
					// The content below will be visible to users who have logged in.
					if isAuthenticated
						.navbar-end
							a.navbar-item(href='/')
								| Home
							a.navbar-item(href='/catalog/yardsale/create')
								| Post Yard Sale
							a.navbar-item(href='/users/' + current_user._id)
								| Account
							a.navbar-item(href='/users/' + current_user._id + '/favorites')
								| Favorites
							.navbar-item
								.buttons
									a.button.is-link(href='/users/logout')
										| Logout

					// The content below will be visible to users who have NOT logged in.
					if isAuthenticated === false
						.navbar-end
							.navbar-item
								.buttons
									a.button.is-light(href='/users/register')
										| Register
							.navbar-item
								.buttons
									a.button.is-link(href='/users/login')
										| Login

		// Middle content
		.hero-body.has-background-primary.is-hidden-touch
			.container
				a(href="/")
					h1.title.is-1.has-text-warning.has-text-centered Yardy