extends layout

block content 

	// Main content
	section.section
		.container
			h1.subtitle.is-3.has-text-centered Search for Yard Sales in your area!
			.columns
				.column.is-three-fifths
					.field.is-horizontal
						.field-body
							.field
								p.control.has-icons-left
									input.input(type='text' placeholder='City, State, Zip Code')
									span.icon.is-small.is-left
										i.fas.fa-map-marker

				.column.is-one-fifth
					.field.is-horizontal
						.field-body
							//- .field
							//-     .select
							//-         select
							//-             option(value='radius') --Radius--
							//-             option(value='5') 5 miles
							//-             option(value='10') 10 miles
							//-             option(value='25') 25 miles
							//-             option(value='50') 50 miles
							//-             option(value='100') 100 miles
							//-             option(value='unlimited') unlimited
							.field
								p.control
									.select
										select(id='sort' name='sort')
											option(selected) -- Sort Results --
											option(value='date') Date
											option(value='date') Starting Time
											option(value='date') Distance
											//- option(value='distance') Distance
											//- option(value='time') Start Time
									//a.button.is-primary(type='e' id='search')
				.column.is-one-fifth
					.field.is-horizontal
						.field-body
							.field
								a.button.is-link(type='submit')
									span.icon
										i.fas.fa-search
									span Search
							.field
								a.button.is-link(href='/catalog/yardsales')
									span.icon
										i.fas.fa-search-location
									span View All
	br
	// MAP OF USA
	section.section
		.container
			#map(style='width:100%;height:400px')
			script(src='/js/index_map.js')
			script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCQZTrgfsk848vQb70eG-wEaJwbFnvUUpk&callback=initMap' async='' defer='')
		// api key AIzaSyCQZTrgfsk848vQb70eG-wEaJwbFnvUUpk

	// Results
	section.section
		.container
			if yardsale_list && isAuthenticated
				each yardsale in yardsale_list
					article.media
						figure.media-left
							p.image.is-64x64
								img(src='https://s3.amazonaws.com/yardy123/naricci/yardsale.jpg' alt='picture of yardsale')
						.media-content
							.content
								p
									strong #{yardsale.city}&nbsp;
									small #{yardsale.date.toDateString()}&nbsp;@&nbsp;
									small #{yardsale.starttime}
									br
									#{yardsale.description}
							nav.level.is-mobile
								.level-left
									a.level-item
										span.icon.is-small
											i.fas.fa-envelope
									a.level-item
										span.icon.is-small
											i.fab.fa-twitter
									a.level-item
										span.icon.is-small
											i.fas.fa-heart
						.media-right
							button.delete

			else
				p.has-text-centered Please sign in to view yard sales in your area.
