extends layout

block content
	// TITLE & SEARCH BAR
	section.section.has-background-light
		.container
			h1.title.is-3.has-text-centered Search for yard sales in your area!
			form(method='get' action='')
				.field.is-horizontal
					.field-body
						.field.has-addons
							p.control.has-icons-left.is-expanded
								input.input#searchParams(type='text' name='address' placeholder="Enter your city's name here")
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
							p.control
								a.button.is-success(onclick='getLocation()') Find Me
							// Search returns all yardsales in DB on new page
							//p.control
							//	a.button.is-link(href='/')
							//		span.icon
							//			i.fas.fa-search-location
							//		span Search
							// Search returns a view of user's current location
							p.control
								button.button.is-link#submit(type='submit')
									span.icon
										i.fas.fa-search-location
									span Search
	// MAP OF USA
	section.section.has-background-light
		.container
			include components/map
	// YARD SALE LIST
	section.section#yardsaleResults
		.container
			if yardsale_list && isAuthenticated
				each yardsale in yardsale_list
					include components/results_auth
			else
				h1.subtitle.has-text-centered
					strong.has-text-danger Please sign in to view more details about our yard sales.
				each yardsale in yardsale_list
					include components/results_nonauth
