extends layout

block content
	// TITLE & SEARCH BAR
	section.section.has-background-light
		.container
			h1.title.is-3.has-text-centered Search for yard sales in your area!
			form(method='GET' action='')
				.field.is-horizontal
					.field-body
						.field.is-grouped.is-grouped-multiline
							p.control.has-icons-left.is-expanded
								input.input#searchParams(type='text' name='search' placeholder="Search for yard sales near you!")
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
							p.control.has-icons-left
								.select
									select#sort(name='sort')
										option(selected, value='') Sort By
										option(value='date') Date + Time
										option(value='city') City
										option(value='state') State
										option(value='zipcode') Zip Code
										//option(value='distance') Distance
						.field.is-grouped
							p.control
								a.button.is-success(onclick='getLocation()') Find Me
							p.control
								button.button.is-link#submit(type='submit')
									span.icon
										i.fas.fa-search-location
									span Search
	// MAP OF USA
	section.section.has-background-light
		.container
			include components/map
	// YARD SALE LIST
	section.section#yardsaleResults
		.container
			if yardsale_list && isAuthenticated
				each yardsale in yardsale_list
					include components/results_auth
			else if yardsale_list && isAuthenticated === false
				h1.subtitle.has-text-centered
					strong.has-text-danger Please sign in to view more details about our yard sales.
				each yardsale in yardsale_list
					include components/results_nonauth
			else
				p #{results}
