extends layout

block content
	// TITLE & SEARCH BAR
	section.section.has-background-light
		.container
			h1.title.is-size-2-fullhd.is-size-3-desktop.is-size-4-mobile.has-text-centered Search for yard sales in your area!
			form(method='GET' action='')
				.field.is-horizontal
					.field-body
						.field.is-grouped.is-grouped-multiline
							p.control.has-icons-left.is-expanded
								input.input#searchParams(type='text' name='search' placeholder='Search for yard sales near you!' aria-label='Yardsale Search Bar')
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
							p.control
								.select
									select#sort(name='sort' aria-label='Sort By')
										option(selected, value='') Sort By
										option(value='date') Date & Time
										option(value='city') City
										option(value='state') State
										option(value='zipcode') Zip Code
							.divider
							.divider
							p.control
								button#find-me.button.is-success(type='button' aria-label='Get Current Location') Find Me
							.divider
							.divider
							p.control
								//- button#submit.button.is-link(type='button' onclick='initMap()')
								button#submit.button.is-link(type='submit' aria-label='Search')
									span.icon
										i.fas.fa-search-location
									span Search

	// MAP OF USA
	section.section.has-background-light
		.container
			script(defer src='/javascripts/get_location.js')
			include components/map

	// YARD SALE LIST
	section.section
		.container
			if yardsale_list && isAuthenticated
				each yardsale in yardsale_list
					include components/results_auth
			else if yardsale_list && isAuthenticated === false
				h1.subtitle.has-text-centered
					strong.has-text-danger Please sign in to view more details about our yard sales.
				each yardsale in yardsale_list
					include components/results_nonauth
			else
				p #{results}
	br
