doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title= title
		include components/links
		include components/scripts

	body
		.main-container
			include components/header
			block content
			include components/footer

