doctype html
html(lang='en-US')
	head
		include components/metas
		title= title
		include components/links
		include components/scripts

	body
		.main-container
			include components/header
			block content
			include components/footer

