doctype html
html(lang='en-US')
	head
		include components/metas

		title= title

		// CSS Links
		include components/links

	body
		.main-container

			include components/header

			block content

			include components/footer
			
		// JavaScripts
		include components/scripts
