// jQuery
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
// AWS JavaScript SDK
script(src="https://sdk.amazonaws.com/js/aws-sdk-2.414.0.min.js")
// Custom JavaScript
script(src='/js/menu.js')
script(src='/js/search_yardsales.js')