extends layout

block content

    // Main content
    .container
        .columns
            .column.is-one-third
            .column.is-one-third

                .alert.has-text-warning(role='alert', id="msgDiv")

                form(role='form' method='POST' action='/index')
                    .field
                        label.label Email
                        .control.has-icons-left.has-icons-right
                            input.input(id='email' type='email' name='email' placeholder='' required)
                    .field
                        label.label Username
                        .control.has-icons-left.has-icons-right
                            input.input(id='username' type='text' name='username' placeholder='' required)
                            span.icon.is-small.is-left
                                i.fas.fa-user
                    .field
                        label.label Password
                        .control
                            input.input(id='password' type='text' name='password' required)
                    .field
                        label.label Confirm Password
                        .control
                            input.input(id='cpassword' type='text' name='cpassword' required)
                    .field
                        .control
                            // type='submit'
                            a.button.is-primary(id='register' type="e")
                                | Register
                    br
                    br
                    br
            .column.is-one-third
