extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title
			.notification#error-group(role="alert" style="display: none")
				ul#errors
			.columns
				.column.is-one-third
				.column.is-one-third
					form(method='POST' action='' autocomplete='on')
						.field
							label.label Username
							.control.has-icons-left
								input.input#username(type='text' placeholder='username' name='username' value=(undefined===user ? '' : user.username) autofocus required)
								span.icon.is-small.is-left
									i.fas.fa-user
						.field
							label.label Password
							.control.has-icons-left
								input.input#password(type='password' name='password' required)
								span.icon.is-small.is-left
									i.fas.fa-lock
								a(href='/users/reset') Forgot your password?
						.field
							.control
								button.button.is-link#loginBtn(type='submit') Log in
						br
						include components/errors
				.column.is-one-third
