extends layout

block content
	section.section
		.container
			if isAuthenticated
				include components/title_user
			else
				h1.subtitle.has-text-centered
					strong Registration
			if isAuthenticated
				include components/panel
			.columns
				.column.is-one-quarter
					if isAuthenticated
						include components/sidebar
				.column.is-two-quarters
					include components/errors
					br
					form(method='post' action='' autocomplete='on')
						if is_update_form
							.field
								label.label Username
								.control.has-icons-left
									input.input#username(type='text' name='username' value=(undefined ===
									user ? '' : user.username) disabled)
									span.icon.is-small.is-left
										i.fas.fa-user
						else
							.field
								label.label Username
								.control.has-icons-left
									input.input#username(type='text' name='username' placeholder='johndoe' maxlength='25' value=(undefined ===
									user ? '' : user.username) required autofocus)
									span.icon.is-small.is-left
										i.fas.fa-user
						.field
							label.label Email
							.control.has-icons-left
								input.input#email(type='email' name='email' placeholder='johndoe@gmail.edu' maxlength='25' required value=(undefined ===
								user ? '' : user.email) autofocus)
								span.icon.is-small.is-left
									i.fas.fa-envelope
						if is_update_form
							hr
							p Use the fields below if you want to change your password. Otherwise, leave blank.
							hr
						.field
							label.label #{is_update_form ? 'New Password' : 'Password'}
							.control.has-icons-left
								input.input#password(type='password' name='password')
								span.icon.is-small.is-left
									i.fas.fa-lock
						.field.has-icons-left
							label.label #{is_update_form ? 'Confirm New Password' : 'Confirm Password'}
							.control.has-icons-left
								input.input#cpassword(type='password' name='cpassword')
								span.icon.is-small.is-left
									i.fas.fa-lock
						if is_update_form
							hr
							p The fields below are all optional.
							hr
							.field
								label.label First Name
								.control.has-icons-left
									input.input#firstname(type='text' name='firstname' placeholder='John' maxlength='25' value=(undefined ===
									user ? '' : user.firstName))
									span.icon.is-small.is-left
										i.fas.fa-user
							.field
								label.label Last Name
								.control.has-icons-left
									input.input#lastname(type='text' name='lastname' placeholder='Doe' maxlength='25' value=(undefined ===
									user ? '' : user.lastName))
									span.icon.is-small.is-left
										i.fas.fa-user
							.field
								label.label Phone
								.control.has-icons-left
									input.input#lastname(type='tel' name='phone' placeholder='4028287902' maxlength='10' value=(undefined ===
									user ? '' : user.phone))
									span.icon.is-small.is-left
										i.fas.fa-map-marker
							.field
								label.label Address
								.control.has-icons-left
									input.input#address(type='text' name='address' maxlength='250' placeholder='123 Yardy Street' value=(undefined ===
									user ? '' : user.address))
									span.icon.is-small.is-left
										i.fas.fa-map-marker
							.field
								label.label Address 2
								.control.has-icons-left
									input.input#address2(type='text' name='address2' maxlength='250' value=(undefined === user ?
										'' : user.address2))
									span.icon.is-small.is-left
										i.fas.fa-map-marker
							.field
								label.label City
								.control.has-icons-left
									input.input#city(type='text' name='city' placeholder='Providence' value=(undefined === user ?
										'' : user.city))
									span.icon.is-small.is-left
										i.fas.fa-map-marker
							.field
								label.label State
								.control.has-icons-left
									select.input(name='state')
										option(value="" selected=(undefined === user || user.state !== '' ?
											false :
											'selected')) Select State
										option(value='CT' selected=(undefined === user || user.state !== 'CT' ? false : 'selected')) CT
										option(value='MA' selected=(undefined === user || user.state !== 'MA' ? false : 'selected')) MA
										option(value='ME' selected=(undefined === user || user.state !== 'ME' ? false : 'selected')) ME
										option(value='NH' selected=(undefined === user || user.state !== 'NH' ? false : 'selected')) NH
										option(value='RI' selected=(undefined === user || user.state !== 'RI' ? false : 'selected')) RI
									span.icon.is-small.is-left
										i.fas.fa-map-marker
							.field
								label.label Zip Code
								.control.has-icons-left
									input.input#zipcode(type='text' name='zipcode' placeholder='02818' maxlength='5' value=(undefined ===
									user ? '' : user.zipcode))
									span.icon.is-small.is-left
										i.fas.fa-map-marker
						if is_update_form && isAuthenticated
							.field
								.control
									button.button.is-link(type='submit') Update
						if !is_update_form
							.field
								.control
									button.button.is-link(type='submit') Register
				.column.is-one-quarter
