extends layout

block content

	// Main content
	.container
		h1.subtitle.has-text-centered
			strong= title
		.columns
			.column
			.column
				form(method='POST' action='')
					.field
						label.label Username
						.control.has-icons-left
							input.input#username(type='text' placeholder='username' name='username' required value=(undefined===user ? '' : user.username))
							span.icon.is-small.is-left
								i.fas.fa-user
					.field
						label.label Password
						.control.has-icons-left
							input.input#password(type='password' name='password' required)
							span.icon.is-small.is-left
								i.fas.fa-key
					.field
						.control
							button.button.is-primary(type='submit')
								| Log in
						.control
							a(href='/users/reset') Forgot your password?
					br

					br
					br
					if errors
						ul
							for error in errors
								li.has-text-danger!= error.msg
			.column
