extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title
			.columns
				.column.is-one-third
				.column.is-one-third
					include components/errors
					form(method='POST' action='' autocomplete='on')
						.field
							.control.has-icons-left
								input.input#username(type='text' name='username' placeholder='username' value=(undefined===user ? '' : user.username) required)
								span.icon.is-small.is-left
									i.fas.fa-user
						.field
							.control.has-icons-left
								input.input#password(type='password' name='password' placeholder='password' required)
								span.icon.is-small.is-left
									i.fas.fa-lock
						.field
							.control
								a(href='/users/reset') Forgot your password?
						.field
							.control
								button.button.is-link#loginBtn(type='submit') Log In
				.column.is-one-third
