extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title
			.columns
				.column.is-one-third
				.column.is-one-third
					if errors
						include components/errors
					form(method='POST' action='' autocomplete='on')
						.field
							.control.has-icons-left
								input.input#username(type='text' name='username' placeholder='username' value=(undefined===user ? '' : user.username) required)
								span.icon.is-small.is-left
									i.fas.fa-user
						.field
							.control.has-icons-left
								input.input#password(type='password' name='password' placeholder='password' required)
								span.icon.is-small.is-left
									i.fas.fa-lock
						.field
							.control
								a(href='/users/reset') Forgot your password?
						.columns
							.column
								.field
									.control
										button.button#loginBtn(type='submit')
											span.icon.is-small.is-left
												i.fas.fa-envelope
											span Log in with Email
						.columns
							.column
								.field
									.control
										a.button#facebook(href='/users/auth/facebook')
											span.icon.is-small
												i.fab.fa-facebook
											span Log in with Facebook
							.column
								.field
									.control
										a.button#twitter(href='/users/auth/twitter')
											span.icon.is-small
												i.fab.fa-twitter
											span Log in with Twitter
	.column.is-one-third
