extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong= title
			.columns
				.column.is-one-third
				.column.is-one-third
					form(method='post' action='')
						.field
							label.label Username
							.control.has-icons-left
								input.input#username(type='text' placeholder='username' name='username' required value=(undefined===user ? '' : user.username))
								span.icon.is-small.is-left
									i.fas.fa-user
						.field
							label.label Password
							.control.has-icons-left
								input.input#password(type='password' name='password' required)
								span.icon.is-small.is-left
									i.fas.fa-lock
								a(href='/users/reset') Forgot your password?
						.field
							.control
								button.button.is-link(type='submit') Log in
						br
						if errors
							ul
								for error in errors
									li.has-text-danger!= error.msg
				.column.is-one-third
