extends layout

block content
	section.section
		.container
			include components/title_user
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-three-quarters
					include components/errors
					form(method='POST' enctype='multipart/form-data')
						.field
							label.label Add Image
							.control
								.file.is-link
									label.file-label(for='file')
										input.file-input#file(type='file' name='profilepic')
										span.file-cta
											span.file-icon
												i.fas.fa-upload
											span.file-label Upload image&mldr;
										span.file-name#filename no file selected
						.field
							.control
								label.label Preview
								img#imagePreview(width='200' height='200')
						.field
							.control
								button.button.is-link(type='submit') Update Profile Pic
								.divider
								button.button.is-danger(type='reset') Cancel
		script(src='/js/select_image_name.js')

