extends layout

block content

    // Main content
    .container
        .columns
            .column.is-one-third
            .column.is-one-third
                form(method='POST' action='')
                    .field
                        label.label Username
                        .control
                            input.input#username(type='text' placeholder='username' name='username' required value=(undefined===user ? '' : user.username))
                    .field
                        label.label Password
                        .control
                            // TODO type='password'
                            input.input#password(type='password' name='password' required)
                    .field
                        .control
                            // type='button' value='logIn'
                            button.button.is-primary(type='submit')
                                | Log in
                    br
                    a(href='/users/reset') Forgot your password?
                    br
            .column.is-one-third
    br
    if errors
        ul
            for error in errors
                li!= error.msg