extends layout

block content

    // Main content
    .container
        .container
            .columns
                .column.is-one-quarter
                .column.is-one-quarter

                    form(method='POST' action='')
                    .field
                        label.label First Name
                        .control
                            input.input(type='text' name='firstname' required value=(undefined===user ? '' : user.firstname))
                    .field
                        label.label Last Name
                        .control
                            input.input(type='text' name='lastname' required value=(undefined===user ? '' : user.lastname))
                    .field
                        label.label Username
                        .control
                            input.input(type='text' name='username' required value=(undefined===user ? '' : user.username))
                    .field
                        label.label Email
                        .control
                            input.input(type='email' name='email' required value=(undefined===user ? '' : user.email))
                    .field
                        // Password
                        label.label #{is_update_form ? 'New Password:' : 'Password:'}
                        .control
                            // TODO type='password'
                            input.input(type='text' name='password' required=!is_update_form)
                    .field
                        // Confirm Password
                        label.label #{is_update_form ? 'Confirm New Password:' : 'Confirm Password:'}
                        .control
                            // TODO type='password'
                            input.input(type='text' name='cpassword' required=!is_update_form)
                        br
                        br
                        br
                .column.is-one-quarter
                    .field
                        label.label Address
                        .control
                            input.input(type='text' name='address' value=(undefined===user ? '' : user.address))
                    .field
                        label.label City
                        .control
                            input.input(type='text' name='city' value=(undefined===user ? '' : user.city))
                    .field
                        label.label State
                        .control
                            .select
                                select(type='select' name='state' placeholder='Select State' required)
                                    option(value='CT' selected=(undefined === user || user.state != 'CT' ? false : 'selected')) CT
                                    option(value='MA' selected=(undefined === user || user.state != 'MA' ? false : 'selected')) MA
                                    option(value='ME' selected=(undefined === user || user.state != 'ME' ? false : 'selected')) ME
                                    option(value='NH' selected=(undefined === user || user.state != 'NH' ? false : 'selected')) NH
                                    option(value='RI' selected=(undefined === user || user.state != 'RI' ? false : 'selected')) RI
                    .field
                        label.label Zip Code
                        .control
                            input.input(type='text' name='zipcode' value=(undefined===user ? '' : user.zipcode))
                    .field
                        .control
                            // type='e' id='updateAccount'
                            a.button.is-primary(type='submit')
                                | Update account!
                .column.is-one-quarter

                    br
                        if errors
                            ul
                                for error in errors
                                    li!= error.msg