extends layout

block content
	section.section
		.container
			if isAuthenticated
				include components/title_user
			else
				h1.subtitle.has-text-centered
					strong Registration
			if isAuthenticated
				include components/panel
			.columns
				.column.is-one-quarter
					if isAuthenticated
						include components/sidebar
				.column.is-two-quarters
					include components/errors
					form(method='POST' action='' autocomplete='on')
						if is_update_form
							.field
								label.label Username
								.control.has-icons-left
									input.input#username(type='text' name='username' value=(undefined === user ? '' : user.username) disabled autofocus)
									span.icon.is-small.is-left
										i.fas.fa-user
						else
							.field
								label.label Username
								.control.has-icons-left
									input.input#username(type='text' name='username' placeholder='username' maxlength='25' value=(undefined === user ? '' : user.username) required autofocus)
									span.icon.is-small.is-left
										i.fas.fa-user
						.field
							label.label Email
							.control.has-icons-left
								input.input#email(type='email' name='email' placeholder='email' maxlength='25' required value=(undefined === user ? '' : user.email))
								span.icon.is-small.is-left
									i.fas.fa-envelope
						if is_update_form
							hr
							p Use the fields below if you want to change your password. Otherwise, leave blank.
							hr
						.field
							label.label #{is_update_form ? 'New Password' : 'Password'}
							.control.has-icons-left
								input.input#password(type='password' name='password' placeholder='password' maxlength='32')
								span.icon.is-small.is-left
									i.fas.fa-lock
						.field.has-icons-left
							label.label #{is_update_form ? 'Confirm New Password' : 'Confirm Password'}
							.control.has-icons-left
								input.input#cpassword(type='password' name='cpassword' placeholder='password' maxlength='32')
								span.icon.is-small.is-left
									i.fas.fa-lock
						if is_update_form
							hr
							p The fields below are all optional.
							hr
							.field
								label.label First Name
								.control.has-icons-left
									input.input#firstname(type='text' name='firstname' placeholder='first name' maxlength='25' value=(undefined === user ? '' : user.firstName))
									span.icon.is-small.is-left
										i.fas.fa-user
							.field
								label.label Last Name
								.control.has-icons-left
									input.input#lastname(type='text' name='lastname' placeholder='last name' maxlength='25' value=(undefined === user ? '' : user.lastName))
									span.icon.is-small.is-left
										i.fas.fa-user
							.field
								label.label Phone
								.control.has-icons-left
									input.input#lastname(type='tel' name='phone' placeholder='phone' maxlength='10' value=(undefined === user ? '' : user.phone))
									span.icon.is-small.is-left
										i.fas.fa-phone
							.field
								label.label Address
								.control.has-icons-left
									input.input#address(type='text' name='address' placeholder='address' maxlength='250' value=(undefined === user ? '' : user.address))
									span.icon.is-small.is-left
										i.fas.fa-map-marker-alt
							.field
								label.label Address 2
								.control.has-icons-left
									input.input#address2(type='text' name='address2' placeholder='address continued' maxlength='250' value=(undefined === user ? '' : user.address2))
									span.icon.is-small.is-left
										i.fas.fa-map-marker-alt
							.field
								label.label City
								.control.has-icons-left
									input.input#city(type='text' name='city' placeholder='city' value=(undefined === user ? '' : user.city))
									span.icon.is-small.is-left
										i.fas.fa-city
							.field
								label.label State
								.control.has-icons-left
									select.input(name='state')
										option(value='CT' selected=(undefined === user || user.state !== 'CT' ? false : 'selected')) CT
										option(value='MA' selected=(undefined === user || user.state !== 'MA' ? false : 'selected')) MA
										option(value='ME' selected=(undefined === user || user.state !== 'ME' ? false : 'selected')) ME
										option(value='NH' selected=(undefined === user || user.state !== 'NH' ? false : 'selected')) NH
										option(value='RI' selected=(undefined === user || user.state !== 'RI' ? false : 'selected')) RI
										option(value='NY' selected=(undefined === user || user.state !== 'NY' ? false : 'selected')) NY
									span.icon.is-small.is-left
										i.fas.fa-map-marker-alt
							.field
								label.label Zip Code
								.control.has-icons-left
									input.input#zipcode(type='text' name='zipcode' placeholder='zip code' maxlength='5' value=(undefined === user ? '' : user.zipcode))
									span.icon.is-small.is-left
										i.fas.fa-map-marker-alt
							if user.facebook.token
								.field
									label.label Facebook
									.control
										p #{user.facebook.email}
											a(href='/users/unlink/facebook') &nbsp;Unlink
							else
								.field
									label.label Facebook
									.control
										a(href='/users/connect/facebook') Connect to Facebook
							if user.twitter.token
								.field
									label.label Twitter
									.control
										p #{user.twitter.username}
											a(href='/users/unlink/twitter') &nbsp;Unlink
							else
								.field
									label.label Twitter
									.control
										a(href='/users/connect/twitter') Connect to Twitter
						if is_update_form && isAuthenticated
							.field
								.control
									button.button.is-link(type='submit') Update
						if !is_update_form
							.field
								.control
									button.button.is-link(type='submit')
										span.icon.is-small
											i.fas.fa-sign-in-alt
										span Register
							hr
							p.has-text-centered Or sign up with a social media account!
							hr
							a.button#facebook(href='/users/auth/facebook')
								span.icon.is-small
									i.fab.fa-facebook
								span Sign up with Facebook
							.divider
							a.button#twitter(href='/users/auth/twitter')
								span.icon.is-small
									i.fab.fa-twitter
								span Sign up with Twitter
				.column.is-one-quarter
