extends layout

block content
	.container
		h1.subtitle.has-text-centered
			strong= title
		.columns.is-mobile
			.column.is-one-third
			.column.is-one-third
				h1 #{title}
				hr
				include components/errors
				hr
			.column.is-one-third
