extends layout

block content
	section.section
		.container
			include components/panel
			.columns
				.column.is-one-quarter
					if isAuthenticated
						include components/sidebar
				.column.is-three-quarters
					if (user.username !== yardsale.user.username)
						.level
							.level-left
							.level-right
								.level-item
									p.subtitle Save for later?
								.level-item
									include components/favorites_button
					include components/yardsale
					if isAuthenticated
						if (user.username === yardsale.user.username)
							hr
							.buttons
								a.button.is-link(href=yardsale._id + '/update') Update Yardsale
								a.button.is-danger(href=yardsale._id + '/delete') Delete Yardsale


