extends layout

block content
	section.section
		.container
			h1.subtitle.has-text-centered
				strong #{title}
			.columns
				.column.is-one-fifth
				.column.is-three-fifths
					include components/errors
					form(method='POST' enctype='multipart/form-data' autocomplete='on')
						.field
							label.label Phone Number
							.control.has-icons-left
								input.input#phone(type='tel' name='phone' placeholder='4018843030' maxlength='10' value=(undefined===yardsale ? '' : yardsale.phone) required autofocus)
								span.icon.is-small.is-left
									i.fas.fa-phone
						.field
							label.label Address
							.control.has-icons-left
								input.input#address(type='text' name='address' placeholder='1600 Pennsylvania Ave' maxlength='250' value=(undefined === yardsale ? '' : yardsale.address))
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
						.field
							label.label Address 2
							.control.has-icons-left
								input.input#address2(type='text' name='address2' placeholder='Apartment 12B' maxlength='250' value=(undefined === yardsale ? '' : yardsale.address2))
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
						.field
							label.label City *
							.control.has-icons-left
								input.input#city(type='text' name='city' placeholder='Washington' maxlength='25' value=(undefined === yardsale ? '' : yardsale.city) required)
								span.icon.is-small.is-left
									i.fas.fa-city
						.field
							label.label State *
							.control.has-icons-left
								.select
									select#state(name='state' required)
										option(selected) Select State
										option(value='CT' selected=(undefined === yardsale || yardsale.state !== 'CT' ? false : 'selected')) CT
										option(value='MA' selected=(undefined === yardsale || yardsale.state !== 'MA' ? false : 'selected')) MA
										option(value='ME' selected=(undefined === yardsale || yardsale.state !== 'ME' ? false : 'selected')) ME
										option(value='NH' selected=(undefined === yardsale || yardsale.state !== 'NH' ? false : 'selected')) NH
										option(value='RI' selected=(undefined === yardsale || yardsale.state !== 'RI' ? false : 'selected')) RI
									span.icon.is-small.is-left
										i.fas.fa-map-marker-alt
						.field
							label.label Zip Code *
							.control.has-icons-left
								input.input#zipcode(type='text' name='zipcode' placeholder='20500' maxlength='5' value=(undefined === yardsale ? '' : yardsale.zipcode) required)
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
						.field
							label.label Date *
							.control.has-icons-left
								input.input#date(type='date' name='date' placeholder='July 4, 2019' value=(undefined===yardsale ? '' : yardsale.date.toDateString()) required)
								span.icon.is-small.is-left
									i.fas.fa-calendar
						.field
							label.label Start Time *
							.control.has-icons-left
								input.input#starttime(type='time' name='starttime' placeholder='10:00 AM' value=(undefined===yardsale ? '' : yardsale.starttime) required)
								span.icon.is-small.is-left
									i.fas.fa-clock
						.field
							label.label End Time *
							.control.has-icons-left
								input.input#endtime(type='time' name='endtime' placeholder='4:00 PM' value=(undefined===yardsale ? '' : yardsale.endtime) required)
								span.icon.is-small.is-left
									i.fas.fa-clock
						.field
							label.label Description
							.control
								textarea.textarea#description(name='description' placeholder='Add your comments here...' maxlength='1000')
						.field
							label.label Add Image
							.control
								.file
									label.file-label(for='file')
										input.file-input#file(type='file' name='imagename')
										span.file-cta
											span.file-icon
												i.fas.fa-upload
											span.file-label Upload&mldr;
										span.file-name#filename no file selected
						.field
							label.label Preview
							img#imagePreview(width='200' height='200')
						.field
							.control
								button.button.is-link(type='submit') Post your yard sale!
				.column.is-one-fifth
	script(src='/js/select_image_name.js')
