extends layout

block content
	section.section
		.container
			include components/title_yardsale
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-half
					include components/errors
					form(method='POST' enctype='multipart/form-data')
						.field
							label.label Phone Number *
							.control.has-icons-left
								input.input#phone(type='tel' name='phone' placeholder='Phone Number' maxlength='10' value=(undefined ===
								yardsale ? '' : yardsale.phone) required)
								span.icon.is-small.is-left
									i.fas.fa-phone
						.field
							label.label Address
							.control.has-icons-left
								input.input#address(type='text' name='address' placeholder='Address' maxlength='250' value=(undefined ===
								yardsale ? '' : yardsale.address))
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
						.field
							label.label Address 2
							.control.has-icons-left
								input.input#address2(type='text' name='address2' placeholder='Address continued' maxlength='250' value=(undefined ===
								yardsale ? '' : yardsale.address2))
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
						.field
							label.label City *
							.control.has-icons-left
								input.input#city(type='text' name='city' placeholder='City' maxlength='25' value=(undefined ===
								yardsale ? '' : yardsale.city) required)
								span.icon.is-small.is-left
									i.fas.fa-city
						.field
							label.label State *
							.control.has-icons-left
								.select
									select#state(name='state' required)
										option(value='CT' selected=(undefined === yardsale || yardsale.state !== 'CT' ? false : 'selected')) CT
										option(value='MA' selected=(undefined === yardsale || yardsale.state !== 'MA' ? false : 'selected')) MA
										option(value='ME' selected=(undefined === yardsale || yardsale.state !== 'ME' ? false : 'selected')) ME
										option(value='NH' selected=(undefined === yardsale || yardsale.state !== 'NH' ? false : 'selected')) NH
										option(value='NY' selected=(undefined === yardsale || yardsale.state !== 'NY' ? false : 'selected')) NY
										option(value='RI' selected=(undefined === yardsale || yardsale.state !== 'RI' ? false : 'selected')) RI
										option(value='VT' selected=(undefined === yardsale || yardsale.state !== 'VT' ? false : 'selected')) VT
									span.icon.is-small.is-left
										i.fas.fa-map-marker-alt
						.field
							label.label Zip Code *
							.control.has-icons-left
								input.input#zipcode(type='text' name='zipcode' placeholder='Zip Code' maxlength='5' value=(undefined ===
								yardsale ? '' : yardsale.zipcode) required)
								span.icon.is-small.is-left
									i.fas.fa-map-marker-alt
						.field
							label.label Date *
							.control.has-icons-left
								input.input#date(type='date' name='date' placeholder='Date' value=(undefined ===
								yardsale ? '' : yardsale.date) required)
								span.icon.is-small.is-left
									i.fas.fa-calendar
						.field
							label.label Start Time *
							.control.has-icons-left
								input.input#starttime(type='time' name='starttime' placeholder='' value=(undefined ===
								yardsale ? '' : yardsale.starttime) required)
								span.icon.is-small.is-left
									i.fas.fa-clock
						.field
							label.label End Time *
							.control.has-icons-left
								input.input#endtime(type='time' name='endtime' placeholder='' value=(undefined === yardsale ? '' : yardsale.endtime) required)
								span.icon.is-small.is-left
									i.fas.fa-clock
						.field
							label.label Description
							.control
								textarea.textarea#description(name='description' placeholder='Add your comments here...' maxlength='1000') #{yardsale.description}
						.field
							label.label Update Image
							.control
								.file
									label.file-label(for='file')
										input.file-input#file(type='file' name='imagename' value=(undefined === yardsale ? '' : yardsale.imagename))
										span.file-cta
											span.file-icon
												i.fas.fa-upload
											span.file-label Upload image&mldr;
										span.file-name#filename no file selected
						.field
							.columns
								.column
									label.label Current Image
										img.image.lazy(src='/img/yardsale_poster.webp' data-src=process.env.S3_IMAGES_URL+'/'+current_user.username+'/'+yardsale.imagename alt='preview' width='200' height='200')
								.column
									label.label New Image
									img.image#imagePreview(width='200' height='200')
						.field
							.control
								button.button.is-link(type='submit') Update Yard Sale
	script(defer src='/js/select_image_name.js')


