extends layout

block content
	.container
		h1.subtitle
			strong= title

		ul
		each yardsale in yardsale_list
			li
				a(href=yardsale.url) #{yardsale.address}
				| (#{yardsale.firstname})

		else
			li There are no yardsales.
