extends layout

block content
	section.section
		.container
			include components/title_yardsale
			include components/panel
			.columns
				.column.is-one-quarter
					include components/sidebar
				.column.is-three-quarters
					include components/errors
					.columns
						.column
							p Do you really want to delete this yard sale?  This process is irreversible.
						.column
							form(method='POST' action='')
								input(type='hidden' name='id' required='true' value=yardsale._id )
								button.button.is-danger(type='submit') Delete
						hr
					include components/yardsale

