extends layout

block content

    // Main content
    .container
        h1.subtitle
            strong= title
        form(method='POST' action='')
            // enctype='multipart/form-data'
            .columns
                .column.is-one-half
                    .field
                        label.label First Name
                        .control.has-icons-left.has-icons-right
                            input.input(type='text' id='firstname' name='firstname' placeholder='e.g. Alex' required value=(undefined===yardsale ? '' : yardsale.firstName))
                    .field
                        label.label Last Name
                        .control.has-icons-left.has-icons-right
                            input.input(type='text' id='lastname' name='lastname' value=(undefined===yardsale ? '' : yardsale.lastName))
                    .field
                        label.label Username
                        .control.has-icons-left.has-icons-right
                            input.input(type='text' id='username' name='username' value=(undefined===yardsale ? '' : yardsale.username))
                            span.icon.is-small.is-left
                                i.fas.fa-user
                    .field
                        label.label Phone Number
                        .control
                            input.input(type='tel' id='phone' name='phone' value=(undefined===yardsale ? '' : yardsale.phone))
                    .field
                        label.label Address
                        .control
                            input.input(type='text' id='address' name='address' value=(undefined === yardsale ? '' : yardsale.address))
                    .field
                        label.label Address 2
                        .control
                            input.input(type='text' id='address2' name='address2' value=(undefined === yardsale ? '' : yardsale.address2))
                    .field
                        label.label City
                        .control
                            input.input(type='text' id='city' name='city' required value=(undefined === yardsale ? '' : yardsale.city))
                    .field
                        label.label State
                        .control
                            .select
                                select(id='state' name='state')
                                    option(selected) Select State
                                    option(value='CT') CT
                                    option(value='MA') MA
                                    option(value='ME') ME
                                    option(value='NH') NH
                                    option(value='RI') RI
                    .field
                        label.label Zip Code
                        .control
                            input.input(type='text' id='zipcode' name='zipcode' value=(undefined === yardsale ? '' : yardsale.zipcode))

                .column.is-one-half
                    .field
                        label.label.has-icons-left Date&nbsp;
                            i.fas.fa-calendar-alt
                        .control
                            input.input(type='date' id='date' name='date' value=(undefined===yardsale ? '' : yardsale.date))
                    .field
                        label.label Start Time
                        .control
                            input.input(type='time' id='starttime' name='starttime' value=(undefined===yardsale ? '' : yardsale.starttime))
                    .field
                        label.label End Time
                        .control
                            input.input(type='time' id='endtime' name='endtime' value=(undefined===yardsale ? '' : yardsale.endtime))
                    .field
                        label.label Description
                        .control
                            textarea.textarea.is-primary(maxlength='1000' id='description' name='description' value=(undefined===yardsale ? '' : yardsale.description))
                    .field
                        label.label Add Image
                        .control
                            .file.is-boxed
                                label.file-label
                                    input.file-input(type='file' id='imagename' name='imagename' value=(undefined===yardsale ? '' : yardsale.imagename))
                                    span.file-cta
                                        span.file-icon
                                            i.fas.fa-upload
                                        span.file-label
                                            | Choose a file&mldr;
                    .field
                        .control
                            button.is-link(type='submit')
                                | Post your yard sale!

        if errors
            ul
                for error in errors
                    li!= error.msg
