/* MAIN STYLES */
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	font: 14px 'Lato', sans-serif;
	height: 100%;
	position: relative;
}

/* MAIN CONTENT */
.main-container {
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px; /* height of your footer */
}

/* NAVIGATION BAR */
#navbar-title {
	font-family: 'Permanent Marker', cursive;
	color: hsl(217, 71%, 53%);
	font-size: 2.5rem;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-end > a.navbar-item {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

.navbar-item > .buttons > a.button {
	font-family: 'Permanent Marker', cursive;
}

.navbar-end > a.navbar-item {
	font-size: 16px;
	/*color: hsl(217, 71%, 53%);*/
	color: hsl(48, 100%, 67%);
	font-weight: bold;
}

.navbar-end > a:hover.navbar-item {
	font-size: 16px;
	color: hsl(217, 71%, 53%);
	font-weight: bold;
	text-decoration: underline;
}

a:hover.button.is-link {
	color: hsl(48, 100%, 67%);
}

/* HERO TITLE */
h1.title.is-1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 144px;
	top: 0;
}

.hero-body.has-background-warning.is-hidden-touch {
	padding-top: 0;
	padding-bottom: 5px;
}

/* CUSTOM */
section.section {
	padding-bottom: 5px;
	padding-top: 10px;
}

h1.subtitle.subTitle {
	 margin-bottom: .5rem;
}

#navbarSection {
	padding-bottom: 0;
	padding-top: 0;
	padding-right: 0;
}

#indexSort {
	flex-grow: 0;
}

.divider{
	width: 5px;
	height: auto;
	display: inline-block;
}

/* FOOTER */
footer {
	flex: 1;
	padding: 32px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

strong#footer-text {
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
}
