/* MAIN STYLES */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font: 14px 'Lato', sans-serif;
  height: 100%;
  position: relative;
}

/*a {*/
/*  color: #00B7FF;*/
/*}*/

/* NAVIGATION BAR */
.navbar-end > a.navbar-item {
  font-size: 18px;
  /*color: hsl(217, 71%, 53%);*/
  color: hsl(48, 100%, 67%);
  font-weight: bold;
}

.navbar-end > a:hover.navbar-item {
  font-size: 18px;
  color: hsl(217, 71%, 53%);
  /*color: hsl(48, 100%, 67%);*/
  font-weight: bold;
}

a:hover.button.is-link {
  color: hsl(48, 100%, 67%);
}

/* HERO TITLE */
h1.title.is-1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 132px;
  /*text-decoration: underline;*/
}

.hero-body.has-background-primary {
  padding: 16px;
}

/* MAIN CONTENT */
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

/* FOOTER */
footer {
  /*flex: 1;*/
  padding-bottom: 48px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer.content {
  margin-bottom: 0;
}

strong#footer-text {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
}
