/* MAIN STYLES */
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	/*font: 14px 'Lato', sans-serif;*/
	font: 14px 'Ubuntu', sans-serif;
	height: 100%;
	position: relative;
}

input:invalid {
	border: 2px solid red;
}

/* MAIN CONTENT */
.main-container {
	display: block;
	min-height: 100vh; /* will cover the 100% of viewport */
	overflow: hidden;
	padding-bottom: 100px; /* height of your footer */
	position: relative;
}

/* NAVIGATION BAR */
#navbar-title {
	color: hsl(217, 71%, 53%);
	font-family: 'Permanent Marker', cursive;
	font-size: 2.5rem;
	padding-bottom: 0;
	padding-top: 0;
}

.navbar-end > a.navbar-item {
	font-family: 'Lato', sans-serif;

}

.navbar-item > .buttons > a.button {
	font-family: 'Permanent Marker', cursive;
}

.navbar-end > a.navbar-item {
	color: hsl(48, 100%, 67%);
	font-size: 18px;
	font-weight: bold;
}

.navbar-end > a:hover.navbar-item {
	color: hsl(217, 71%, 53%);
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

button:hover.button.is-link {
	color: hsl(48, 100%, 67%);
}

button:hover.button.is-danger {
	color: hsl(48, 100%, 67%);
}

#loginBtn {
	background-color: hsl(48, 100%, 67%);
	color: hsl(217, 71%, 53%);
}

#facebook {
	background-color: #3768AE;
	color: #FFFFFF;
}

#twitter {
	background-color: #00A3EE;
	color: #FFFFFF;
}

/* HERO TITLE */
h1.title.is-1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 144px;
	top: 0;
}

.hero-body.has-background-warning.is-hidden-touch {
	padding-bottom: 5px;
	padding-top: 0;
}

/* INDEX PAGE MAP */
#map {
	height: 450px;
	width: 100%;
}

/* CUSTOM */
section.section {
	padding-bottom: 5px;
	padding-top: 10px;
}

h1.subtitle.subTitle {
	 margin-bottom: .5rem;
}

#navbarSection {
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 0;
}

#indexSort {
	flex-grow: 0;
}

.divider {
	display: inline-block;
	height: auto;
	width: 5px;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* FOOTER */
footer {
	bottom: 0;
	flex: 1;
	padding: 24px;
	position: absolute;
	width: 100%;
}

strong#footer-text {
	font-family: 'Permanent Marker', cursive;
	font-size: 18px;
}
